@model EmailRequest
<div class="modal fade" id="btnContrasenia" tabindex="-1" aria-labelledby="btnContraseniaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperar contraseña</h5>
                <button type="button" id="closeButtonRecuperarContrasenia" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-sub text-dark" id="title">
                Ingresa el <b>correo electrónico</b> a donde enviaremos tu nueva contraseña:
            </div>
            <div class="modal-sub incorrecto" id="mensaje" style="display: none;">
                <b>Correo electrónico inválido</b>, por favor intenta de nuevo.
            </div>
            <div class="modal-body text-center">
                <form id="formRecuperarContrasenia" method="post" asp-area="Autenticacion" asp-controller="Cuentas" asp-action="RecuperarPassword" autocomplete="off">
                    <div class="my-3 text-start">
                        <label for="txtEmail" class="form-label text-start text-primary font-12px" asp-for="Email"></label>
                        <input type="email" class="form-control" id="txtEmail" asp-for="Email">
                        <span asp-validation-for="Email" id="emailValidationMessage" class="floatingInputInvalid text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary text-secondary w-100 rounded-pill my-1" onclick="RecuperarContrasenia(event)">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>