@model RestablecerPassRequest
<div class="modal fade" id="btnContrasenia" tabindex="-1" aria-labelledby="btnContraseniaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperar contraseña</h5>
                <button type="button" id="closeButtonRecuperarContrasenia" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-sub text-dark" id="title">
                <div><b>¿A donde enviamos el enlace?</b></div>
            </div>
            <div class="modal-body text-center">
                <ul class="nav nav-pills w-100 justify-content-center border-primary mb-0 p-0" id="pills-tab" role="tablist">
                    <li class="nav-item border-primary w-50 bg-white" role="presentation">
                        <button class="nav-link w-100 px-3 active" id="btnSelectEmail" data-bs-toggle="pill" data-bs-target="#pills-puntos" type="button" role="tab" aria-controls="pills-puntos" aria-selected="false">
                            @* <img src="~/img/icn-canjes-rojo.svg" alt="" srcset="">
                            <img src="~/img/icn-canjes-rojo-blanco.svg" alt="" srcset=""> *@
                            Correo electrónico
                        </button>
                    </li>

                    <li class="nav-item border-primary w-50 bg-white" role="presentation">
                        <button class="nav-link w-100 px-3" id="btnSelectPhone" data-bs-toggle="pill" data-bs-target="#pills-canje" type="button" role="tab" aria-controls="pills-canje" aria-selected="false">
                            @* <img src="~/img/icn-tiendadigital-rojo.svg" alt="" srcset="">
                            <img src="~/img/icn-tiendadigital-blanco.svg" alt="" srcset=""> *@
                            Celular
                        </button>
                    </li>
                </ul>

                <form id="formRecuperarContrasenia" class="mt-1 pt-0" asp-area="Autenticacion" asp-controller="Cuentas" asp-action="RecuperarPassword" asp-antiforgery="true" method="post" autocomplete="off">
                    <div class="text-start">
                        <input type="hidden" asp-for="TipoMensajeria" id="txtTipoMensajeria" value="@((int)TipoMensajeria.Email)" />
                        <label class="form-label text-start font-12px" asp-for="Cuc"></label>
                        <input type="text" class="form-control" asp-for="Cuc" />
                        <span asp-validation-for="Cuc" id="emailValidationMessage" class="floatingInputInvalid text-danger"></span>
                    </div>
                    <div class="mb-1 text-start">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-puntos" role="tabpanel" aria-labelledby="btnSelectEmail">
                                <span class="font-11px">Lo enviaremos al correo electrónico que tenemos registrado.</span>
                            </div>
                            <div class="tab-pane fade" id="pills-canje" role="tabpanel" aria-labelledby="btnSelectPhone">
                                <span class="font-11px">Lo enviaremos en mensaje de texto al número que tenemos registrado.</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-secondary w-100 rounded-pill">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>