@model DetalleCanjeDTO

<div class="modal fade" id="canjedetalle" tabindex="-1" aria-labelledby="contra" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.IdTipoDePremio == (int)TipoPremio.Digital || Model.IdTipoDeEnvio != (int)TipoDeEnvio.Normal)
                {
                    <h5 class="modal-title">Canje digital</h5>
                }
                else
                {
                    <h5 class="modal-title">Canje detalle</h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-start font-12px p-1">
                @if (Model.IdTipoDePremio == (int)TipoPremio.Digital || Model.IdTipoDeEnvio != (int)TipoDeEnvio.Normal)
                {
                    <partial name="_verDetalleDeCanjeDigital" model="Model" />
                }
                else
                {
                    <partial name="_verDetalleDeCanje" model="Model" />
                }
            </div>
        </div>
    </div>
</div>