<!-- Modal Encuesta Emergente-->
<div class="modal fade" id="mdlEncuesta" tabindex="-1" aria-labelledby="mdlEncuesta" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Encuesta rápida</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-sub text-dark">
                ¿Ya recibiste tu <b>kit de bienvenida</b> Socio Selecto 2025?
            </div>
            <div class="modal-body text-center">
                <ul class="nav nav-pills w-100 justify-content-center border-primary mb-0 p-0" id="pills-tab" role="tablist">
                    <li class="nav-item border-primary w-50 bg-white" role="presentation">
                        <button class="nav-link w-100 px-3 active" id="btnSelectEmail" data-bs-toggle="pill" data-bs-target="#pills-puntos" type="button" role="tab" aria-controls="pills-puntos" aria-selected="false">
                            Sí
                        </button>
                    </li>

                    <li class="nav-item border-primary w-50 bg-white" role="presentation">
                        <button class="nav-link w-100 px-3" id="btnSelectPhone" data-bs-toggle="pill" data-bs-target="#pills-canje" type="button" role="tab" aria-controls="pills-canje" aria-selected="false">
                            No
                        </button>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary text-secondary w-100 rounded-pill my-1" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>