<div class="modal fade" id="msgInfoRedirect" tabindex="-1" aria-labelledby="msgInfoRedirectTitle" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="msgInfoRedirectTitle">¡importante!</h5>
            </div>

            <div class="modal-sub info h-100">
                <b id="msgInfoRedirectText"></b><br>
                <p id="msgInfoRedirectDescription">Tu compra de puntos ha sido registrada correctamente. Serás redirigido a una página segura donde podrás completar la verificación ingresando el código recibido en la app de tu banco. Este proceso es requerido por la plataforma de pagos para finalizar la transacción.</p>
            </div>

            <div class="modal-body text-center">
                <a id="btnGoToRedirect" href="#" class="btn btn-primary text-white w-100 rounded-pill" rel="noopener">
                    Ir a la página de verificación
                </a>
            </div>

        </div>
    </div>
</div>
