<div class="modal fade" id="msgCorrect" tabindex="-1" aria-labelledby="contra" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msgCorrectTitle">¡Importante!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-sub correcto h-100">
                <b id="msgCorrectText"> </b><br>
                <p id="msgCorrectDescription"></p>
            </div>
            <div class="modal-body text-center">
                <div class="my-3 text-center">
                    <img src="~/img/general/icn-paloma.svg" class="d-block mx-auto" alt="" srcset="">
                </div>
                <button id="closeMsgCorrect" type="button" class="btn btn-primary text-secondary w-100 rounded-pill my-1" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>