<div class="modal fade" id="msgErrorPremio" tabindex="-1" aria-labelledby="contra" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msgErrorPremioTitle">Aviso</h5>
            </div>
            <div class="modal-sub incorrecto px-2 h-100">
                <b id="msgErrorPremioText"> </b><br>
                <p id="msgErrorPremioDescription"></p>
            </div>
            <div class="modal-body text-center">
                <div class="my-3 text-center">
                    <img src="~/img/general/icn-tache-modal.png" class="d-block mx-auto" alt="" srcset="">
                </div>
                <button id="btnCancelarPremio" type="button" class="btn btn-primary text-secondary w-100 rounded-pill my-1">Cancelar</button>
                <button id="btnAgregarPremioForzar" type="button" class="btn btn-primary text-secondary w-100 rounded-pill my-1">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>