@model CambiarPasswordRequest
@{
    Layout = "_LoginSimpleLayout";
    ViewData["Title"] = "Restablecer contraseña";
}

<div class="login-card">
    <img src="~/img/general/logoSocioSelecto.svg" class="mx-auto d-block" style="max-width: 190px;" alt="" srcset="" />
    <h2 class="text-dark text-center font-bold my-1">Restablecer contraseña</h2>
    <!-- <form class="form-floating">
    <input type="email" class="form-control is-invalid" id="floatingInputInvalid text-danger" placeholder="name@example.com" value="test@example.com">
    <label for="floatingInputInvalid text-danger">Invalid input</label>
    </form> -->
    <form id="formCambiarPass" asp-action="CambiarPassword" asp-controller="Activa" asp-area="" class="form-floating" asp-antiforgery="true" method="post">
        <div class="d-flex w-100">
            <div class="form-floating w-90">
                <input type="hidden" asp-for="Token" />
                <input type="password" id="txtPassword" class="form-control" placeholder="Contraseña" aria-describedby="Password" asp-for="Password">
                <label>Contraseña nueva</label>
            </div>
            <button type="button" id="btnToggle" class="toggle no-class w-10 h100 border-bottom border-dark">
                <i id="eyeIcon" class="fa fa-eye fa-eye-slash"></i>
            </button>
        </div>
        <span asp-validation-for="Password" class="floatingInputInvalid text-danger small"></span>

        <div class="d-flex w-100">
            <div class="form-floating w-90">
                <input type="password" id="txtConfirmPassword" class="form-control" placeholder="Confirmar Contraseña" aria-describedby="ConfirmarPassword" asp-for="ConfirmarPassword" />
                <label>
                    Confirma tu contraseña
                </label>
            </div>
            <button type="button" id="btnToggleConfirm" class="toggle no-class w-10 h100 border-bottom border-dark">
                <i id="eyeConfirmIcon" class="fa fa-eye fa-eye-slash"></i>
            </button>
        </div>
        <span asp-validation-for="ConfirmarPassword" class="floatingInputInvalid text-danger small"></span>

        <button class="btn btn-primary text-white w-100 mt-2 rounded-pill" type="submit">Enviar</button>

        <div class="row justify-content-between text-center mt-1">
            <a href="https://www.lms-la.com" class="" target="_blank">
                <img src="~/img/general/lms-logo.png" class="img-fluid" style="height: 75%; padding:7px">
            </a>
        </div>
    </form>
</div>

<partial name="_modalError" />

@section Scripts {
    <script nonce="@ViewBag.Nonce" type="text/javascript">
        $(document).ready(function () {
            let msgError = '@Html.Raw((ViewData["msgError"]?.ToString() ?? TempData["msgError"]?.ToString()))';

            if (msgError) {
                $('#msgErrorText').text(msgError);
                $('#msgError').modal('show');
            }
        });
    </script>
    <script nonce="@ViewBag.Nonce" type="text/javascript">
        $(document).ready(function () {
            $(document).on('submit', '#formCambiarPass', function (e) {
                e.preventDefault();

                if ($(this).valid()) {
                    AbrirLoad();
                    this.submit();
                }
            });

            $('#btnToggleConfirm').on('click', function () {
                toggleConfirmPassword();
            });
        });
    </script>
}