@model CambiarPasswordDTO
@{
    ViewData["Title"] = "Cambio de contraseña";
}
<main class="micuenta">
    <div class="title">Cambio de contraseña</div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card-white text-danger">
                    <form id="formCambiarPassword" class="row justify-content-center g-3" asp-action="CambiarPassword" asp-controller="Home" asp-area="Socio" method="post" autocomplete="off">
                        <div class="col-lg-6">
                            <p>La contraseña deberá contener: 8 caracteres como mínimo, una letra mayúscula, una letra minúscula y un número.</p>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <label for="txtContraseniaActual" class="form-label">Contraseña actual</label>
                                    <input type="password" class="form-control" id="txtContraseniaActual" asp-for="PasswordActual">
                                    <span asp-validation-for="PasswordActual" class="floatingInputInvalid text-danger small"></span>
                                </div>
                                <div class="col-12">
                                    <label for="txtContraseniaNueva" class="form-label">Contraseña nueva</label>
                                    <input type="password" class="form-control" id="txtContraseniaNueva" asp-for="Password">
                                    <span asp-validation-for="Password" class="floatingInputInvalid text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="txtConfirmContrasenia" class="form-label">Confirma contraseña nueva</label>
                                    <input type="password" class="form-control" id="txtConfirmContrasenia" asp-for="PasswordConfirma">
                                    <span asp-validation-for="PasswordConfirma" class="floatingInputInvalid text-danger small"></span>
                                </div>
                            </div>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-lg-2 col-md-6 offset-lg-6">
                            <a href="@Url.Action("MiCuenta", "Home", new { area = "Socio" })" class="btn btn-outline-info rounded-pill w-100">Cancelar</a>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <button type="submit" class="btn btn-primary text-white rounded-pill w-100">Actualizar</button>
                        </div>
                        <div class="w-100"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<partial name="_modalError" />
<partial name="_modalSuccess" />
<partial name="_ayuda" />

@section Scripts {
    <script type="text/javascript" nonce="@ViewBag.Nonce">
        $(document).ready(function () {
            $('#formCambiarPassword').submit(function (e) {
                e.preventDefault();

                AbrirLoad();

                var formData = $(this).serializeArray();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    success: function (data) {

                        console.log(data);
                        if (data.exitoso) {
                            $('#msgCorrectText').text(data.mensaje);

                            CerrarLoad();

                            $('#msgCorrect').modal('show');

                            $('#formCambiarPassword').trigger('reset');
                        } else {

                            $('#msgErrorText').text(data.mensaje);

                            CerrarLoad();

                            $('#msgError').modal('show');
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);

                        CerrarLoad();
                    }
                });
            });
        });
    </script>
}