<div class="modal fade" id="btnAyuda" tabindex="-1" aria-labelledby="btnAyudaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¡Hola!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="msgAvisoTitle" class="modal-sub font-medium text-primary center-flex">
                ¿En qué podemos apoyarte?
            </div>
            <div id="msgAvisoText" class="modal-body text-center">
                <p class="font-12px">¿No recuerdas tu contraseña o algún otro dato? ¿Requieres más información sobre el programa? ¿Tienes algún comentario?</p>
                <b class="text-primary">¡Llámanos! y te daremos una solución</b>
                <h3 class="text-primary">829 946 5265</h3>
                
            </div>
            <div class="modal-footer text-center">
                <button type="button" id="closeMsgAviso" class="btn btn-primary text-secondary w-100 rounded-pill my-1" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
