<div class="modal fade" id="mdlDeposito" tabindex="-1" aria-labelledby="contra" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Depósito Bancario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <img src="~/img/icn-depositbancario.png" class="mx-auto d-block" alt="" srcset="">
                <small>Deposita en BBVA la diferencia de:</small> <br>
                <h5 class="text-primary txt-monto-deposito"></h5><br>
                <small>a nombre de <b>Loyalty Marketing Services, S.A. de C.V.</b></small><br>
                <small>No. de cuenta:</small><br>
                <h5>0450533106</h5><br>
                <small>Por favor envía foto de tu depósito al siguiente correo:</small><br>
                <h4>depositos@socioselecto-bepensa.com</h4><br>
                <small>En la imagen deberá verse claramente la cantidad depositada, así como el número de CUC. Llama al 800 681 8294 para confirmar la recepción de tu depósito.</small>


                <button type="button" id="btnAcceptDeposito" class="btn btn-primary w-100 rounded-pill my-1 text-white">Aceptar</button>
            </div>
        </div>
    </div>
</div>