<div class="modal fade" id="mdlPtsInsuficientes" tabindex="-1" aria-labelledby="mdlPtsInsuficientes" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Puntos insuficientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-sub text-dark">
                <div><b>¿Deseas el pago de puntos por medio de deposito o tarjeta de Débito/crédito?</b></div>
            </div>
            <div class="modal-body text-center">
                <div class="d-flex justify-content-around">
                    <button type="button" id="btnAcceptPtsInsuficientes" class="btn btn-outline-primary rounded-pill px-3">
                        Aceptar
                    </button>

                    <button type="button" class="btn btn-outline-primary rounded-pill px-3" data-bs-dismiss="modal" aria-label="Close">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>