<div class="modal fade" id="mdlConfirmDeposito" tabindex="-1" aria-labelledby="contra" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Depósito Bancario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <img src="~/img/icn-depositbancario.png" class="mx-auto d-block" alt="" srcset="">
                <h5 class="text-primary">¿Estas Seguro?</h5><br>
                <small>Congelaremos tus puntos disponibles, tendrás 10 días hábiles para mandar la evidencia y comprobar el pago, en caso de que no lo haga el pedido se cancelará y los puntos estarán disponibles nuevamente. Por favor envía foto de tu depósito al siguiente correo:</small><br><br>

                <h6>depositos@socioselecto-bepensa.com</h6><br>

                <button type="submit" id="btnConfirmDeposito" class="btn btn-primary w-100 rounded-pill my-1 text-white">Aceptar</button>
            </div>
        </div>
    </div>
</div>