@{
    ViewData["Title"] = "Mécanica";
}
<main>
    <div class="container">
        <div class="row pt-1">
            <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
                <div class="card-white card-mecanica">

                    <div class="row h-100 my-2">
                        <div class="col-1">
                            <h1 class="text-primary font-48px">5</h1>
                        </div>
                        <div class="col-11">
                            @* <p class="text-dark font-19px">Actividades especiales</p> *@

                            <p class="text-dark font-15px">
                                Mes con mes te informaremos a través de los canales de comunicación de las actividades especiales que tenemos para que acumules más puntos.
                            </p>

                            <img src="~/img/app/mecanica-actividades-especiales.png" class="img-fluid d-block mx-auto" alt="" srcset="">


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-md-1 order-1">
                <partial name="_menuMecanica" />
            </div>
        </div>
    </div>
</main>