@{
    ViewData["Title"] = "Mécanica";
}
<div class="container">
    <div class="row pt-3">
        <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
            <div class="card-white card-mecanica">

                <div class="row h-100 my-2">
                    <div class="col-1">
                        <h1 class="text-primary font-48px">6</h1>
                    </div>
                    <div class="col-11">
                        @* <p class="text-dark font-black font-19px">Bonos</p> *@

                        <p class="text-dark font-15px">
                            Durante el transcurso del programa te brindaremos diferentes bonos.
                        </p>

                        <img src="~/img/app/mecanica-bonos.png" class="img-fluid d-block mx-auto" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
            <partial name="_menuMecanica" />
        </div>
    </div>
</div>