@{
    ViewData["Title"] = "Mécanica";
}
@section GoogleAnalytics
{
    <partial name="_googleAnalitycs" />
}
<main>
    <div class="container">
        <div class="row pt-1">
            <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
                <div class="card-white card-mecanica">
                    <div class="row h-100">
                        <div class="col-1">
                            <img src="~/img/general/img-meta-compra.svg" alt="" srcset="">
                        </div>
                        <div class="col-11 pl-2">
                            <p class="text-dark font-19px">Ejecución de <b>Mercadeo</b></p>

                            @if (Sesion.UsuarioActual.IdCanal == (int)TipoCanal.Tradicional)
                            {
                                <p class="text-dark font-15px">
                                    Te otorgaremos <b>hasta <span class="text-primary">24,200 puntos</span></b> tomando en cuenta la calificación por ejecución que obtengas en el mes y de acuerdo con la siguiente tabla:
                                </p>

                                <div class="table-responsive">
                                    <table class="table table-striped text-center bg-white">
                                        <thead class="bg-primary text-white">
                                            <tr>
                                                <th>Calificación</th>
                                                <th>Puntos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>&lt;=75</th>
                                                <th class="text-primary">0</th>
                                            </tr>
                                            <tr>
                                                <th>75 al 80</th>
                                                <th class="text-primary">4,300</th>
                                            </tr>
                                            <tr>
                                                <th>81 al 85</th>
                                                <th class="text-primary">10,000</th>
                                            </tr>
                                            <tr>
                                                <th>86 al 90</th>
                                                <th class="text-primary">14,200</th>
                                            </tr>
                                            <tr>
                                                <th>91 al 95</th>
                                                <th class="text-primary">18,500</th>
                                            </tr>
                                            <tr>
                                                <th>96 al &gt;100</th>
                                                <th class="text-primary">24,200</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }

                            @if (Sesion.UsuarioActual.IdCanal == (int)TipoCanal.Comidas)
                            {
                                <p class="text-dark font-19px mt-3"><b>Respeto</b> <a class="text-primary">17,200 puntos</a></p>
                                <p class="text-dark font-15px">
                                    Al tener dentro del enfriador solamente productos de la <b>Familia Coca-Cola,</b> y no estar invadido por alguna otra marca de bebidas o con comida.
                                </p>

                                <p class="text-dark font-19px mt-2"><b>Llenado</b> <a class="text-primary">17,200 puntos</a></p>
                                <p class="text-dark font-15px">
                                    Al mantener el <b>Llenado del Enfriador</b> al <b>90%</b> de su capacidad.
                                </p>

                                <p class="text-dark font-19px mt-2"><b>Visibilidad</b> <a class="text-primary">8,600 puntos</a></p>
                                <p class="text-dark font-15px">
                                    Si tus comensales tienen a simple vista el <b>Enfriador de Coca-Cola,</b> ya ganaste.
                                </p>
                            }
                        </div>
                        <div class="col-12 mt-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
                <partial name="_menuMecanica" />
            </div>
        </div>
    </div>
</main>