@{
    ViewData["Title"] = "Mécanica";
}
<div class="container">
    <div class="row pt-3">
        <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
            <div class="card-white card-mecanica">

                <div class="row h-100 my-2">
                    <div class="col-1">
                        <img src="~/img/general/img-meta-compra.svg" alt="" srcset="">
                    </div>
                    <div class="col-11 pl-2">
                        <p class="text-dark font-19px">Ejecución de <b>Mercadeo</b></p>

                        <p class="text-dark font-15px">
                            Te otorgaremos <b>hasta <span class="text-primary">24,000 puntos</span></b> tomando en cuenta la calificación por ejecución que obtengas en el mes y de acuerdo con la siguiente tabla:
                        </p>
                        <img src="~/img/app/ejecucion-mercadeo-tr.png" class="img-fluid d-block mx-auto" alt="" srcset="">
                    </div>
                    <div class="col-12 mt-2">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
            <partial name="_menuMecanica" />
        </div>
    </div>
</div>