@{
    ViewData["Title"] = "Mécanica";
}
<div class="container">
    <div class="row pt-3">
        <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
            <div class="card-white card-mecanica">

                <div class="row h-100 my-2">
                    <div class="col-1">
                        <h1 class="text-primary font-48px">4</h1>
                    </div>
                    <div class="col-11">
                        @* <p class="text-dark font-19px">Ejecución de <b>Mercadeo</b></p>
                        <p class="text-dark font-15px">Es un mecanismo que utilizamos para medir la ejecución de nuestras marcas en tu tienda, resultando en un puntaje que nos indica qué tan completa está la ejecución en el mercado.</p>
                        <p class="text-dark font-15px">Teniendo una correcta ejecución en tu tienda, podrás <b>ganar hasta <span class="text-primary">35,000 puntos</span></b> en cada uno de los indicadores que describimos a continuación:</p>
                        <img src="~/img/07-mecanica-ejecucionmercadeo/img-eje-ejecucion.png" class="img-fluid d-block mx-auto" alt="" srcset="">
                        <p class="text-primary font-medium font-18px">A. Precio</p>
                        <p class="text-dark font-15px"> <b>Ganarás <span class="text-primary">4,400 puntos</span></b> si tienes el producto disponible, con el precio visible y comunicando el precio sugerido. </p>
                        <ul>
                            <li>Que el producto esté disponible en tu tienda</li>
                            <li>Tener comunicación de precio visible en material oficial</li>
                            <li>Precio igual o menor al precio sugerido</li>
                        </ul>
                        <p class="text-dark font-black font-15px"> Productos participantes:</p>
                        <ul>
                            <li>Coca-Cola Original 1.5L Pet Reciclable</li>
                            <li>Coca-Cola Original 2L Pet Reciclable</li>
                            <li>Coca-Cola Original 1.25L Pet Retornable</li>
                            <li>Coca-Cola Original 400 ml Pet Reciclable</li>
                            <li>Coca-Cola Original 250 ml Pet Reciclable</li>
                        </ul>
                        <img src="~/img/07-mecanica-ejecucionmercadeo/img-eje-precio.png" class="img-fluid d-block mx-auto" alt="" srcset="">
                        <p class="text-primary font-medium font-18px">B. Respeto al Enfriador</p>
                        <p class="text-dark font-black font-15px">Gana <span class="text-primary font-black">6,600 puntos</span>, ejecutando la Foto de Éxito y manteniendo tu enfriador libre de extraños.</p>
                        <p class="text-dark font-15px">Mantener los equipos de Coca-Cola libres de extraños aumenta nuestra visibilidad y mejora la imagen de marca y de tu negocio </p>
                        <p class="text-dark font-15px">En el enfriador de Coca-Cola no debemos introducir otras marcas.</p>
                        <p class="text-dark font-15px">Importante de recordar que los sólidos y comidas afectan el fondo del enfriador causando corrosión.</p>
                        <img src="~/img/07-mecanica-ejecucionmercadeo/img-eje-respeto.png" class="img-fluid d-block mx-auto" alt="" srcset="">
                        <p class="text-primary font-medium font-18px">C. Planograma</p>
                        <p class="text-dark font-15px"><b>Tu enfriador deberá contener los productos de las 3 categorías</b> siguientes y en el porcentaje que se indica y <b>gana <span class="text-primary font-black">6,600 puntos:</span></b></p>
                        <ul>
                            <li class="font-black text-primary">Coca-Cola 60%</li>
                            <li class="font-black text-frutales">Sabores 20%</li>
                            <li class="font-black text-hidratacion">Stills 20%</li>
                        </ul>
                        <img src="~/img/07-mecanica-ejecucionmercadeo/img-eje-respeto.png" class="img-fluid d-block mx-auto" alt="" srcset=""> *@
                    </div>
                    <div class="col-12 mt-2">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
            <partial name="_menuMecanica" />
        </div>
    </div>
</div>