@{
    ViewData["Title"] = "Mécanica";
}
<div class="container">
    <div class="row pt-3">
        <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
            <div class="card-white card-mecanica">

                <div class="row h-100 my-2">
                    <div class="col-1">
                        <img src="~/img/general/img-meta-compra.svg" alt="" srcset="">
                    </div>
                    <div class="col-11">
                        @* <p class="text-dark font-19px">Foto de éxito</p> *@

                        <p class="text-dark font-15px">
                            Es el material de comunicación que se encuentra en la fachada de tu negocio y que comunica las promociones a tu cliente. Si cumples con la compra de productos de la foto de éxito ganas <b class="text-primary">17,000 puntos</b>.
                        </p>

                        <img src="~/img/app/mecanica-foto-de-exito.png" class="img-fluid d-block mx-auto" alt="" srcset="">

                    </div>
                    <div class="col-12 mt-2">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
            <partial name="_menuMecanica" />
        </div>
    </div>
</div>