@{
    ViewData["Title"] = "Mécanica";
}
@section GoogleAnalytics
{
    <partial name="_googleAnalitycs" />
}
<main>
    <div class="container">
        <div class="row pt-1">
            <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
                <div class="card-white card-mecanica">

                    <div class="row h-100 my-2">
                        <div class="col-1">
                            <img src="~/img/general/img-meta-compra.svg" alt="" srcset="">
                        </div>
                        <div class="col-11">
                            <p class="text-dark font-19px">Promociones</p>
                            <p class="text-dark font-15px"><b>Todos los meses te comunicaremos de las promociones vigentes para que puedas acumular más puntos.</b>Consúltalas en nuestros medios de comunicación y no dejes de acumular puntos adicionales.</p>
                            <img src="~/img/07-mecanica-ejecucionmercadeo/img-ola-promociones.png" class="img-fluid d-block mx-auto" alt="" srcset="">


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
                <partial name="_menuMecanica" />
            </div>
        </div>
    </div>
</main>