@{
    ViewData["Title"] = "Mécanica";
}
<div class="container">
    <div class="row g-3 pt-3">
        <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
            <div class="card-white card-mecanica">

                <div class="row h-100 my-2">
                    <div class="col-1">
                        <h1 class="text-primary font-48px">4</h1>
                    </div>
                    <div class="col-11">
                        <p class="text-dark font-19px">Promociones</p>
                        <p class="text-dark font-15px"><b>Todos los meses te comunicaremos de las promociones vigentes para que puedas acumular más puntos.</b>Consúltalas en nuestros medios de comunicación y no dejes de acumular puntos adicionales.</p>
                        <img src="~/img/07-mecanica-ejecucionmercadeo/img-ola-promociones.png" class="img-fluid d-block mx-auto" alt="" srcset="">


                    </div>
                    <div class="col-12 mt-2">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
            <div class="row g-3">

                <div class="col-md-6">
                    <div class="card-white text-center" onclick="window.location.href='@Url.Action("MetaCompra", "Mecanica", new { area = "Mecanica" })'">
                        <img src="~/img/06-mecanica-metacompra/ic-meta.png" class="d-block mx-auto" alt="" srcset="">
                        <p>Meta de compra</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-white text-center" onclick="window.location.href='@Url.Action("EjecucionMercadeo", "Mecanica", new { area = "Mecanica" })'">
                        <img src="~/img/06-mecanica-metacompra/ic-ejecucion.png" class="d-block mx-auto" alt="" srcset="">
                        <p>Ejecución de mercadeo</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-white text-center" onclick="window.location.href='@Url.Action("Portafolio", "Mecanica", new { area = "Mecanica" })'">
                        <img src="~/img/06-mecanica-metacompra/ic-portafolio.png" class="d-block mx-auto" alt="" srcset="">
                        <p>Portafolio</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-white text-center active">
                        <img src="~/img/06-mecanica-metacompra/ic-promociones.png" class="d-block mx-auto" alt="" srcset="">
                        <p>Promociones</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-white text-center" onclick="window.location.href='@Url.Action("Bonos", "Mecanica", new { area = "Mecanica" })'">
                        <img src="~/img/06-mecanica-metacompra/ic-bonos.png" class="d-block mx-auto" alt="" srcset="">
                        <p>Bonos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>