<header>
    <div class="barra-control">
        <img src="~/img/general/logo-pleca.svg" class="d-lg-flex d-md-flex d-none" alt="" srcset="">
        <form class="d-flex ms-auto position-relative me-3">
            @* <input class="form-control me-2  position-relative bg-transparent text-white" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-primary position-absolute end-0" type="submit"><i class="fa fa-search text-white"></i></button> *@
        </form>
        <a class="btn btn-outline-dark rounded-pill px-2 font-12px d-lg-block d-md-none d-none" href="@Url.Action("Login", "Inscripciones", new { area = "Autenticacion" })">Cerrar sesión</a>
    </div>
</header>