@{
    ViewData["Title"] = "Mécanica";
}

<main>
    <div class="title">Mecánica</div>
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
                <div class="card-white">
                    <div class="row align-items-center h-100 my-2">
                        <div class="col-2">
                            <img src="~/img/general/ic-graphic.svg" alt="" srcset="">
                        </div>
                        <div class="col-10">
                            <p class="text-dark"><b>Respeto, Llenado y Visibilidad</b></p>
                        </div>
                        <div class="col-12 mt-2">

                            <p class="text-dark font-19px"><b>Respeto</b> <a class="text-primary">17,200 puntos</a></p>
                            <p class="text-dark font-15px">
                                Al tener dentro del enfriador solamente productos de la <b>Familia Coca-Cola,</b> y no estar invadido por alguna otra marca de bebidas o con comida.
                            </p>

                            <p class="text-dark font-19px mt-2"><b>Llenado</b> <a class="text-primary">17,200 puntos</a></p>
                            <p class="text-dark font-15px">
                                Al mantener el <b>Llenado del Enfriador</b> al <b>90%</b> de su capacidad.
                            </p>

                            <p class="text-dark font-19px mt-2"><b>Visibilidad</b> <a class="text-primary">8,600 puntos</a></p>
                            <p class="text-dark font-15px">
                                Si tus comensales tienen a simple vista el <b>Enfriador de Coca-Cola,</b> ya ganaste.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
                <partial name="_menuMecanica" />
            </div>
        </div>
    </div>
</main>