@{
    ViewData["Title"] = "Mécanica";
}
<main>
    <div class="title">Mecánica</div>
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-6 order-lg-1 order-md-2 order-2 ">
                <div class="card-white">
                    <div class="row align-items-center h-100 my-2">
                        <div class="col-2">
                            <img src="~/img/general/ic-graphic.svg" alt="" srcset="">
                        </div>
                        <div class="col-10">
                            <p class="text-dark"><b>Portafolio Prioritario</b></p>
                        </div>
                        <div class="col-12 mt-2">
                            <p class="text-dark font-15px">
                                Adquiere y ofrece a tus clientes los productos más relevantes para tu negocio y <b class="text-primary">gana los puntos</b> al cumplir cada una de las categorías.
                            </p>

                            <img src="~/img/comidas/portafolio.jpg" class="img-fluid d-block mx-auto" style="max-width: 379px; max-height: 310px;" alt="" srcset="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-md-1 order-1 objetivos">
                <partial name="_menuMecanica" />
            </div>
        </div>
    </div>
</main>