@model List<ImagenesPromocionesDTO>

@{
    ViewData["Title"] = "Promociones";
}

<main>

    <div class="title">Promociones</div>

    @if (Model.Where(x => x.Tipo.Equals("prm")).Count() > 0)
    {
        foreach (var imagen in Model.Where(x => x.Tipo.Equals("prm")))
        {
            <img src="@imagen.Url" class="d-lg-block d-md-none d-none w-100" alt="@imagen.Nombre" srcset="">
        }
    }
    else
    {
        <div class="text-center justify-content-center">
            <p class="frutales">No hay promociones</p>
        </div>
    }

    @* <img src="~/img/img-promociones@2x-tab.png" class="d-lg-none d-md-block d-none w-100" alt="" srcset=""> *@
</main>
