@model LoginCRMRequest

@{
    ViewData["Title"] = "Log in";
}

<div class="row m-0">
    <div class="col-12 p-0">
        <div class="login-card p-lg-0">
            <div class="login-main pt-3 pb-3">
                <form class="theme-form" asp-action="Login" asp-controller="Cuentas" asp-area="Autenticacion" asp-antiforgery="true" method="post">
                    <a class="logo">
                        <img class="img-fluid for-light m-0 p-0" src="~/img/general/logoSocioSelecto.png" style="max-width: 190px;" alt="Logo" asp-append-version="true">
                        <img class="img-fluid for-dark" src="~/img/general/logoSocioSelecto.png" alt="Logo" style="max-width: 190px;" asp-append-version="true">
                    </a>
                    <h4>Acceso CRM Bepensa</h4>
                    <p class="mb-2">Ingresa tus credenciales</p>
                    <div class="form-group">
                        <label class="col-form-label">Email</label>
                        <input class="form-control" type="email" asp-for="Email" placeholder="usuario@correo.com">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Contraseña</label>
                        <div class="form-input position-relative">
                            <input class="form-control" type="password" asp-for="Password" placeholder="12345678">
                            <div class="show-hide" id="ver"></div>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="form-group mb-0">

                        @* <div class="text-end mt-3">
                            <a asp-area="Autenticacion" asp-controller="Cuenta" asp-action="RecuperarPassword">¿Olvidaste tu Contraseña?</a>
                        </div> *@
                        <div class="text-end mt-3">
                            <button class="btn btn-primary btn-block w-100" type="submit">Entrar</button>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="text-centet px-5 px-5 mt-2 mb-1">
                            <a href="https://www.lms-la.com" target="_blank">
                                <img src="~/img/general/lms-logo.png" class="img-fluid" style="height: 70%; padding:7px" />
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>